mixin picture(name, type, className, folder)
  picture(class!=className)
    source(srcset=`./images/${folder ? folder : 'content'}/${name}.webp` type='image/webp')
    img(src=`./images/${folder ? folder : 'content'}/${name}.${type ? type : 'jpg'}`)